{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>14가지 키워드 과학기술 뉴스를 이용한 시장 동향 시각화</title>
</head>
<body>
    <img src="{% static 'pie_chart.png' %}" alt="Pie Chart">
    <!-- <div style="text-align:center;">
        <img src="{% static 'pie_chart.png' %}" alt="Pie Chart">
        <p>Legend:</p>
        <ul style="list-style-type:none;">
            {% for label in labels %}
                <li>{{ label }}: {{ sizes.forloop.counter0 }}</li>
            {% endfor %}
        </ul>
    </div> -->
</body>
</html>