<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>과학기술 뉴스를 이용한 시장동향 시각화</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <a href="{% url 'main_page' %}"><h1>6가지 키워드 과학기술 뉴스를 이용한 시장 동향 시각화</h1></a>
    <div class="box-container">
      <a class="box" href="{% url 'semiconductor' %}">반도체</a>
      <a class="box" href="{% url 'battery' %}">이차전지</a>
      <a class="box selected_box" href="{% url 'hydrogen' %}">수소</a>
      <a class="box" href="{% url 'space' %}">우주</a>
      <a class="box" href="{% url 'robot' %}">로봇</a>
      <a class="box" href="{% url 'ai' %}">인공지능</a>
    </div>

    <div class="wordcloud_6_box">
      <div class="wordcloud_2_column">
        <div class="wordcloud_1">
          <div class="period">
            <span>2021</span>
            <span>상반기</span>
          </div>
          <img src="{% static 'images/Hydrogen_2021_1.png' %}" alt="Word Cloud" />
        </div>
        <div class="wordcloud_1">
          <div class="period">
            <span>2021</span>
            <span>하반기</span>
          </div>
          <img src="{% static 'images/Hydrogen_2021_2.png' %}" alt="Word Cloud" />
        </div>
      </div>
      <div class="wordcloud_2_column">
        <div class="wordcloud_1">
          <div class="period">
            <span>2022</span>
            <span>상반기</span>
          </div>
          <img src="{% static 'images/Hydrogen_2022_1.png' %}" alt="Word Cloud" />
        </div>
        <div class="wordcloud_1">
          <div class="period">
            <span>2022</span>
            <span>하반기</span>
          </div>
          <img src="{% static 'images/Hydrogen_2022_2.png' %}" alt="Word Cloud" />
        </div>
      </div>
      <div class="wordcloud_2_column">
        <div class="wordcloud_1">
          <div class="period">
            <span>2023</span>
            <span>상반기</span>
          </div>
          <img src="{% static 'images/Hydrogen_2023_1.png' %}" alt="Word Cloud" />
        </div>
        <div class="wordcloud_1">
          <div class="period">
            <span>2023</span>
            <span>하반기</span>
          </div>
          <img src="{% static 'images/Hydrogen_2023_2.png' %}" alt="Word Cloud" />
        </div>
      </div>
    </div>
  </body>
</html>
