<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>과학기술 뉴스를 이용한 시장동향 시각화</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <style>
      .chart {
        display: flex;
        flex-direction: row;
      }
      
      .chart img {
        max-width: 100%;
        height: auto;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'main_page' %}"><h1>6가지 키워드 과학기술 뉴스를 이용한 시장 동향 시각화</h1></a>
    <div class="box-container">
      <a class="box" href="{% url 'semiconductor' %}">반도체</a>
      <a class="box" href="{% url 'battery' %}">이차전지</a>
      <a class="box" href="{% url 'hydrogen' %}">수소</a>
      <a class="box" href="{% url 'space' %}">우주</a>
      <a class="box" href="{% url 'robot' %}">로봇</a>
      <a class="box" href="{% url 'ai' %}">인공지능</a>
    </div>
    <div class="chart">
      <div class="main_chart_1">
        <img src="{% static 'chart/pie_chart.png' %}" alt="Pie Chart" />
      </div>
      <div class="main_chart_2">
        <img src="{% static 'chart/line_chart.png' %}" alt="Line Chart" />
      </div>
    </div>
  </body>
</html>
